
/* ----------------------------------------
global 
------------------------------------------- */
* {
  box-sizing: border-box;
  font-family: "Avenir", serif;
}

/* ----------------------------------------
Body
------------------------------------------- */

.coming-fall-2019 {
  background: url(../images/image1.png) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 225px 380px 225px;
  color: white;
}

.a-new-perspective {
  background: black;
  padding: 150px 380px 150px;
  color: white;
}

.easy-as-123{
  background: url(../images/image2.png) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 240px 380px 240px;
  color: black;
}

.white-col {
  background: white;
}

.gray-col {
  background: #D3D0CB;
}

.col-6 {
  padding: 150px 130px 150px;
  text-align: center;
  color: black;
}

.the-future-is-now {
  background: url(../images/image3.png) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 240px 380px 240px;
  color: white;
}

.col-12 {
  text-align: center;
}


/* ----------------------------------------
Footer
------------------------------------------- */
.footer1 { 
  background: black;
  color: white;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
  }

.footer-text a {
  font-size: 1em;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  padding-right: 95px;
}

.social-links a {
  font-size: 3.5em;
  color: white;
  padding-right: 26px;
  }
