/* ----------------------------------------
global 
------------------------------------------- */
* {
  box-sizing: border-box;
  font-family: "Avenir", serif;
}

/* ----------------------------------------
General Style
------------------------------------------- */

h1 {
  font-size: 3.125em;
  font-weight: 550;
}

h2 {
  font-size: 2.5em;
  font-weight: 350;
}

h3 {
  font-weight: 250;
}

h5 {
  font-weight: 200;
}

p {
  font-weight: 100;
  font-size: 1em;
}

/* ----------------------------------------
Navigation Bar
------------------------------------------- */

a.navbar-brand {
  font-size: 2.25em;
  padding-left: 3em;
  font-weight: 500;
}

.nav-links {
  font-size: 1.5em;
  font-weight: 500;
  text-align: center;
}

li.nav-items {
  margin-right: 70px;
}



/* ----------------------------------------
Modal
------------------------------------------- */

.modal-title {
  font-weight: 800;
  font-size: 2em;
  padding-top: 2.5em;
  text-transform: uppercase;
  padding-left: 10em;
}

.modal-par {
  padding-bottom: 2em;
  text-align: center;
}

#first-name, #last-name, #e-mail {
  background: #D3D0CB;
  margin-bottom: 1.5em;
}

.modal-footer {
  padding-top: 2.5em;
  padding-bottom: 7em;
}

/* ----------------------------------------
Body
------------------------------------------- */

/* -------------------------------
Style 1: coming-fall-2019
----------------------------------- */

h2.intro-h2, h1.intro-h1, h3.intro-h3, p.intro-p {
  margin: 0;
}


h1.intro-h1 {
  padding-top: 2em;
}

h3.intro-h3 {
  padding-top: 1em;
}

p.intro-p {
  padding-top: 1.5em;
  line-height: 1.7;
}

.coming-fall-2019 {
  background: url(../images/image1.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* padding: 225px 380px 225px; */
  padding-top: 14em;
  color: white;
  background-size: auto 100%;
  height: 54.438em;
}

main {
  background:black;
}

/* -------------------------------
Style 2 - a-new-perspective 
----------------------------------- */

.tech-h1, .tech-p {
  margin: 0;
}

.tech-p-1 {
  padding-top: 1em;
  margin-top: 1em;
  line-height: 1.7;
}

.tech-p-2 {
  margin-top: 2em;
}

.tech-p-3 {
  margin-top: 4em;
  padding-bottom: 1.5em;
}

.a-new-perspective {
  background: black;
  /* padding: 150px 380px 150px; */
  color: white;
  background-size: auto 100%;
  height: 47.5em;
}


/* -------------------------------
Style 3 - easy-as-123
----------------------------------- */

h1.use-h1, p.use-p {
  margin: 0;
}

h1.use-h1 {
  padding-bottom: .8em;
}

p.use-p {
  padding-bottom: 5.5em;
}

.easy-as-123 {
  background: url(../images/image2.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* padding: 240px 380px 240px; */
  color: black;
  background-size: auto 100%;
  height: 47.5em;
}

/* -------------------------------
Style 4 - earicle-compare
----------------------------------- */

.compare-col1-h2, .compare-col2-h2, .compare-col1-h3, .compare-col2-h3,
.compare-col1-h6, .compare-col2-h6, .compare-col1-p, .compare-col2-p {
  margin: 0;
}

.white-col {
  background: white;
}

.gray-col {
  background: #D3D0CB;
}

.compare-col1-h2, .compare-col2-h2 {
  font-weight: 550;
  text-transform: uppercase;
  font-size: 2em;
  padding-bottom: .5em;
}

.compare-col1-h3, .compare-col2-h3 {
  font-weight: 400;
  font-size: 1.5em;
  padding-bottom: 2em;
}

.compare-col1-h6, .compare-col2-h6 {
  font-weight: 450;
  padding-bottom: 1em;
}

.earicle-compare {
  /* padding: 150px 130px 150px; */
  text-align: center;
  color: black;
}


/* -------------------------------
Style 5 - the-future-is-now
----------------------------------- */

h1.future-h1, p.future-p, h6.future-h6 {
  margin: 0;
}

h1.future-h1 {
  padding-bottom: .8em;
}

p.future-p {
  padding-bottom: 5em;
}

h6.future-h6 {
  padding-top: 1.5em;
  font-size: .75em;
}

.the-future-is-now {
  background: url(../images/image3.png) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* padding: 240px 380px 240px; */
  
  color: white;
  height: 47.5em;
  background-size: auto 100%;
}

.future-container {
  margin-top: 15em;
  margin-bottom: 15em;
}

.col-xs-12, .col-12 {
  text-align: center;
}



/* ----------------------------------------
Footer
------------------------------------------- */
.footer1 { 
  background: black;
  color: white;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
  }

.footer-text a {
  font-size: 1em;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
}

.social-links a {
  font-size: 3.5em;
  color: white;
  padding-right: .5em;
  }

  ul {
    text-align: center;
    list-style-type: none;
  }


/* ----------------------------------------
Responsive Media
------------------------------------------- */

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 4000px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .nav-link:before {
      content: '';
      display: block;
      position: relative;
      width: 0;
      top: 1.5em;
      border-bottom: 1px solid whitesmoke;
      transition: width 0.4s;
    }
    
    .nav-link:hover:before {
      width: 100%;
    }

    .a-new-perspective {
      padding-top: 7em;
    }

    .easy-as-123 {
      padding-top: 15em;
    }

    .future-container, .intro-container, .tech-container, .use-container {
      padding-left: 25.1em;
      padding-right: 25.1em;
    }

    .earicle-container {
      margin-top: 10em;
      margin-bottom: 10em;
    }

    ul > li {
      display: inline-block;
    }

    .footer-text a {
      padding-right: 95px;
    }

    .footer-links:before {
      content: '';
      display: block;
      position: relative;
      width: 0;
      top: 1.75em;
      border-bottom: 1px solid whitesmoke;
      transition: width 0.4s;
    }
    
    .footer-links:hover:before {
      width: 100%;
    }
    
    ul.navbar-nav.mr-auto.nav-links {
      padding-left: 10.5em;
    }
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    
}


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    
    a.navbar-brand {
      padding: 0;
      margin: 0;
    }

    .nav-items {
      padding-left: 3em;
    }

    .tech-container {
      margin-top: 2em;
      margin-bottom: 2em;
    }

    .easy-as-123 {
      padding-top: 13em;
    }

    .earicle-container {
      margin-top: 5em;
      margin-bottom: 5em;
    }

    ul {
      font-size: 1.5em;
      padding-right: 40px;
    }

    .social-links a {
      font-size: 2.5em;
      padding-left: 10px;
      }

    .modal-dialog {
      position: relative;
      width: auto;
      margin: 10px;
    }

    .modal-title {
      padding-left: 3em;
    }

    .footer-links:before {
      top: 1.5em;
    }
    
}
